

{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">
    <div class="dashboard">
        <h1 class="welcome">Dashboard</h1>
        <nav class="nav">
            <div class="dropdown">
                <button class="dropbtn button">Your Courses</button>
                <div class="dropdown-content">
                    {% for course in courses %}
                        <li>
                            <a href="{{ url_for('course_detail', course_id=course.id) }}">{{ course.name }}</a>
                        </li>
                    {% endfor %}
                </div>
              </div>

            <div class="dropdown">
                <button class="dropbtn button">Available Courses</button>
                <div class="dropdown-content">
                    {% for course in all_courses %}
                        {% if course not in courses %}
                            <option value="{{ course.id }}">{{ course.name }}</option>
                        {% endif %}
                    {% endfor %}
                </div>
              </div>

            <!-- <h2 class="title">Available Courses</h2>
            <form method="post" action="{{ url_for('enroll', course_id=0) }}" id="enroll-form">
                <select id="available_courses" name="course_id">
                    {% for course in all_courses %}
                        {% if course not in courses %}
                            <option value="{{ course.id }}">{{ course.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button type="submit" class="enroll button">Enroll</button>
            </form> -->

            {% if user.role == 'instructor' %}
                <button class="create_course_button">
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front_text">Create a Course</span>
                </button>
            {% endif %}
        </nav>
    </div>

    <script>
        document.querySelector('.create_course_button').addEventListener('click', function() {
            window.location.href = "{{ url_for('create_course') }}";
        });

        document.getElementById('enroll-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const courseId = document.getElementById('available_courses').value;
            window.location.href = "{{ url_for('enroll', course_id=0) }}".replace('0', courseId);
        });
    </script>
    
{% endblock %}
