{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">
    <div class="dashboard">
        <h1 class="welcome">Dashboard</h1>
        {% if user.role == 'instructor' %}
            <a href="{{ url_for('create_course') }}">Create Course</a>
        {% endif %}
        <h2>Your Courses</h2>
        <ul>
            {% for course in courses %}
                <li>
                    <a href="{{ url_for('course_detail', course_id=course.id) }}">{{ course.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <h2>Available Courses</h2>
        <ul>
            {% for course in all_courses %}
                {% if course not in courses %}
                    <li>
                        <a href="{{ url_for('course_detail', course_id=course.id) }}">{{ course.name }}</a>
                        <a href="{{ url_for('enroll', course_id=course.id) }}" class="enroll button">Enroll</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
