{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='register_style.css') }}">
    <div class="body_1">
        <div class="text_body_1">
            <h1 class="welcome">Register</h1>
            <div class="login-box">
                <form method="post">
                    <div class="user-box">
                        <input type="text" name="username" required="">
                        <label>Username</label>
                    </div>
                    <div class="user-box">
                        <input type="password" name="password" required="">
                        <label>Password</label>
                    </div>

                    <div class="register_box">
                        <label class="register">Role</label>
                        <select name="role" required="">
                            <option value="instructor">Instructor</option>
                            <option value="student">Student</option>
                        </select>
                      
                    </div><center>
                    <button type="submit">Register</button></center>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
